@tailwind base;
@tailwind components;
@tailwind utilities;
 
 *{ 
Margin:0;
Padding:0;
Box-sizing: border-box;
Font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

html,body{
Width:100%;
Height:100%;
}